<?xml version="1.0"?>
<!--
  ~   @package    GremlinTech
  ~   @author     Daniel Coull <ttechitsolutions@gmail.com>
  ~   @copyright  01/01/2020, 16:45.$year Daniel Coull
  ~   @version    CVS: $Id:$
  ~  @since      File available since Release 1.0.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <infinatescroll>
            <general>
                <enable>1</enable>
                <load_on_scroll>1</load_on_scroll>
                <analytics_tracking>1</analytics_tracking>
                <next_button_class>.pages-item-next .action.next</next_button_class>
                <product_container_class>.products.list.items.product-items</product_container_class>
                <hide_navigation>1</hide_navigation>
                <navigation_class>.products.wrapper ~ .toolbar-products .pages</navigation_class>
                <show_end_status>1</show_end_status>
                <end_status_text>No More Products</end_status_text>
                <debug>0</debug>
                <display_type>1</display_type>
            </general>
        </infinatescroll>
    </default>
</config>